<ion-view >
	<ion-nav-title>{{course.name}}</ion-nav-title>

	<ion-content dir="rtl">
		ظرفیت گرفته شده: 
		<div dir="ltr" style="display: inline;">
			<knob knob-data="knobValue" id="capacity-left" data-capacity="{{course.capacity}}" data-enrolled="{{course.enrolled_num}}"/>
		</div>

		ساعت های تشکیل:
		<div>
			<div ng-repeat="session in course.sessions" >{{session.showString}}</div>
		</div>

		استاد:
		<div>
		{{course.professor}}
		</div>
		<div>
			<span ng-repeat="field in course.allowed_fields" style="padding:3px;margin:3px;background: #387EF5;border-radius: 5px;color: white;">{{field}}</span>
		</div>
		<div>
			زمان امتحان نهایی: {{course.final_time}}<br/>
			تاریخ امتحان نهایی: {{course.final_date}}<br/>
			<span ng-if="course.allowed_sex">جنسیت: {{course.allowed_sex}}</span><br/>
			واحد: {{course.units}}<br/>
		</div>
		
	</ion-content>
</ion-view>