<ion-view view-title="Courses">

	<ion-content dir="rtl">
		<!-- <su-day-picker picked-days="pickedDays"></su-day-picker> -->
		<div dir="ltr">
			<su-day-picker picked-days="daysToFilter"></su-day-picker>
			<ionslider grid="true" min="0" max="750" step="15" type="double" from="timeFilterModel.from" to="timeFilterModel.to"></ionslider>
		</div>
		<ion-list>
			<ion-item href="#/app/course/{{course.id}}" ng-repeat="course in courses| inRange:timeFilterModel | inDays:daysToFilter">
				{{course.name}}
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>