<ion-view view-title="درس ها">

	<ion-content dir="rtl">
		<!-- <su-day-picker picked-days="pickedDays"></su-day-picker> -->
		<div dir="ltr">
			<su-day-picker picked-days="daysToFilter"></su-day-picker>
			<ionslider grid="true" min="0" max="750" step="15" type="double" from="timeFilterModel.from" to="timeFilterModel.to"></ionslider>
		</div>
		<label class="item item-input">
		    <input type="text" placeholder="جستجو" ng-model="search_input">
		</label>
		<ion-list>
			<ion-item href="#/app/course/{{course.id}}" ng-repeat="course in courses| inRange:timeFilterModel | inDays:daysToFilter | filter:search_input">
				{{course.name}}
				
				<span style="float: left;"> {{course.fullSessionTimeString}} </span>
				<!-- <span ng-repeat="time in course.times" style="float:left;">
					از {{time.start.showString}} تا {{time.end.showString}}
				</span> -->
				<!-- <su-day-shower selected-days="{{course.days}}" style="float:left;padding-left: 1vw;"></su-day-shower> -->
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>