<ion-view >
	<ion-nav-title>{{place.name_persian}}</ion-nav-title>
	<!-- <ion-content> -->

		<ion-tabs>
			<ion-tab title="Desc" icon="ion-document-text">
				<ion-view>
					<ion-content class="has-header">
						<div ng-if="place.formatted_phone_number">
							phone number: {{place.formatted_phone_number}}
						</div>
						<div ng-if="place.formatted_address">
							address: {{place.formatted_address}}
						</div>
					</ion-content>
				</ion-view>
			</ion-tab>
			<ion-tab title="Map" icon="ion-map">
				<ion-view>
					<ion-content has-subheader="true" scroll="false">
						<div style="display: block; height: 100%;">
							<div ng-if="!isOffline" su-google-maps lat="{{place.geometry.location.lat}}" lng="{{place.geometry.location.lng}}" ng-attr-zoom="17" style="height: 100%;"></div>
							<a ng-if="isOffline" href="http://maps.google.com/?q={{place.geometry.location.lat}},{{place.geometry.location.lng}}" ng-click="openLink($event)" class="maps-placeholder">
								<img style="width: 100%" ng-attr-src="img/map/roadmap/1280x1200/{{place.id}}_map.png" />
							</a>
						</div>
					</ion-content>
				</ion-view>
			</ion-tab>
			<ion-tab title="Subsets" icon="ion-network" ng-if="getSubPlaces().length">
				<ion-view>
					<ion-content class="has-header" dir="rtl">
						<ion-list>
							<ion-item href="#/app/place/{{pl.id}}" ng-repeat="pl in getSubPlaces()">
								{{pl.name_persian}}
							</ion-item>
						</ion-list>
					</ion-content>
				</ion-view>
			</ion-tab>
			<ion-tab title="Nearby Places" icon="ion-location" ng-if="place.nearbyPlaces">
				<ion-view>
					<ion-content class="has-header" dir="rtl">
						<ion-list>
							<ion-item href="#/app/external-place/{{pl.id}}" ng-repeat="epl in place.nearbyPlaces">
								{{epl.name}}
							</ion-item>
						</ion-list>
					</ion-content>
				</ion-view>
			</ion-tab>
		</ion-tabs>
		

	<!-- </ion-content> -->
</ion-view>