<ion-view view-title="معرفی" dir="rtl">
    <ion-content>
        <div class="list card">

            <div class="item center">
                <p>معرفی مختصر دانشگاه</p>
            </div>

            <div class="item item-body">
                <div class="center"><img class="ion-image" src="img/shirazu.png"></div>
                <p>
                    دانشگاه شیراز یکی از دانشگاه‌های وزارت علوم، تحقیقات و فناوری و از قدیمی‌ترین دانشگاه‌های ایران است
                    که در سال ۱۳۲۵ خورشیدی تأسیس گردید. پیش از انقلاب، دانشگاه کنونی شیراز، «دانشگاه پهلوی» نامیده
                    می‌شد. دانشگاه شیراز یکی از ۵ دانشگاه مادر در رشته‌های مهندسی به شمار می‌آید. محوطه دانشگاه شیراز که
                    توسط مینورو یاماساکی طراحی شده، از نظر وسعت در کشور ایران در رتبهٔ دوم قرار دارد.

                    این دانشگاه همواره به سخت‌گیری شهره بوده است و معدل‌های دانشجویان آن در رشته‌های مختلف عموماً در
                    سطح‌های پایین‌تری نسبت به هم‌ترازان خود قرار دارد.

                </p>
            </div>
        </div>
    </ion-content>
</ion-view>