<ion-side-menus>
	<ion-side-menu dir="rtl" side="right">
		<ion-content>
			<ion-list>
				<ion-item href="#/app/introduction" menu-close>
					دانشگاه شیراز
				</ion-item>
				<ion-item href="#/app/content//%D8%A2%D9%85%D9%88%D8%B2%D8%B4%DB%8C" menu-close>
					آموزشی
				</ion-item>
				<ion-item href="#/app/content//%D8%B3%DA%A9%D9%88%D9%86%D8%AA" menu-close>
					سکونت
				</ion-item>
				<ion-item href="#/app/content//%D8%AA%D8%BA%D8%B0%DB%8C%D9%87" menu-close>
					تغذیه 
				</ion-item>
				<ion-item href="#/app/content//%D8%AD%D9%85%D9%84%20%D9%88%20%D9%86%D9%82%D9%84" menu-close>
					حمل و نقل
				</ion-item>
				<ion-item href="#/app/places" >
					مکان ها
				</ion-item>
				<ion-item href="#/app/persons" menu-close>
					افراد
				</ion-item>
				<ion-item href="#/app/forms" >
					فرم ها
				</ion-item>

			</ion-list>
		</ion-content>
	</ion-side-menu>
	<ion-side-menu-content drag-content="false">
		<ion-nav-bar align-title="right" class="bar-positive">
			<ion-nav-back-button style="border: none; font-family: 'IRANBold', Tahoma;"><i class="icon ion-ios-arrow-back placeholder-icon"></i></ion-nav-back-button>
			<ion-nav-buttons side="right">
				<button menu-toggle="right" class="button button-icon icon ion-navicon" ></button>
			</ion-nav-buttons>
		</ion-nav-bar>
		<ion-nav-view name="main_content"></ion-nav-view>
	</ion-side-menu-content>
</ion-side-menus>