<ion-view >
	<ion-nav-title>{{person.fname}} {{person.lname}}</ion-nav-title>
	<ion-content dir="rtl">
		نام 	: 	{{person.fname}}<br>
		نام خانوادگي 	: 	{{person.lname}}<br>
		سال تولد 	: 	{{person.birth}}<br>
		وضعيت تاهل 	: 	{{person.tahol}}<br>
		مدرک تحصيلي 	: 	{{person.madrak}}<br>
		سال استخدام 	: 	{{person.estekhdam}}<br>
		مرتبه علمي 	: 	{{person.martabe}}<br>
		بخش 	: 	{{person.bakhsh}}<br>
		دانشکده 	: 	{{person.daneshkade}}<br>
		آدرس 	: 	{{person.address}}<br>
		تلفن 	: 	{{person.phone}}<br>
		تلفن همراه 	: 	{{person.mobile}}<br>
		پست الکترونيک 	:	{{person.email}}<br>
		علاقه مندی ها 	:	{{person.interest}}<br>
	</ion-content>
</ion-view>