<ion-view>
    <ion-nav-title>{{person.fname}} {{person.lname}}</ion-nav-title>
    <ion-content dir="rtl">
            <div class="col">
                <div class="card">
                    <div class="item item-divider">نام و نام خانوادگی :</div>
                    <div class="item item-text-wrap">
                        {{person.fname+" "+person.lname}}
                    </div>
                </div>
            </div>


            <div class="col">
                <div class="card">
                    <div class="item item-divider">مدرک تحصیلی :</div>
                    <div class="item item-text-wrap">
                        {{person.madrak}}
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card">
                    <div class="item item-divider">مرتبه علمی :</div>
                    <div class="item item-text-wrap">
                        {{person.martabe}}
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="item item-divider">بخش و دانشکده :</div>
                    <div class="item item-text-wrap">
                        {{person.bakhsh+" - "+person.daneshkade}}
                    </div>
                </div>
            </div>


        <div class="col">
            <div class="card">
                <div class="item item-divider">پست الکترونیک :</div>
                <div class="item item-text-wrap">
                    {{person.email}}
                </div>
            </div>
        </div>
        <div class="col" ng-if="person.interest">
            <div class="card">
                <div class="item item-divider">علاقه مندی ها :</div>
                <div class="item item-text-wrap">
                    {{person.interest}}
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>