<ion-view dir="rtl">
	<ion-nav-title>{{place.name_persian}}</ion-nav-title>
	<!-- <ion-content> -->

		<ion-tabs>
			<ion-tab title="Desc" icon="ion-document-text">
				<ion-view>
					<ion-content class="has-header" id="iframeContainer">
						<script type="text/javascript">
							function addStyle(frame)
							{
								var otherhead = frame.contentDocument.getElementsByTagName("head")[0];
								var link = frame.contentDocument.createElement("link");
								link.setAttribute("rel", "stylesheet");
								link.setAttribute("type", "text/css");
								link.setAttribute("href", "/android_asset/www/css/frame-style.css");
								otherhead.appendChild(link);
								var container = $('#iframeContainer');
								//frame.style.height = frame.contentWindow.document.body.scrollHeight + 'px';
								console.log('height is :');

								
								frame.style.height = container.height() + 'px';
							}
						</script>
						<!-- <iframe id="desc-frame" id="desc-frame" ng-src="{{descUrl}}" onload="addStyle(this);" style="width: 100%; height: auto;"></iframe> -->
						<div ng-bind-html="place.desc_content"></div>

					</ion-content>
				</ion-view>
			</ion-tab>
			<ion-tab title="Map" icon="ion-map">
				<ion-view>
					<ion-content has-subheader="true" scroll="false">
						<div style="display: block; height: 100%;">
							<div ng-if="!isOffline" su-google-maps lat="{{place.latitude}}" lng="{{place.longtitude}}" ng-attr-zoom="17" style="height: 100%;"></div>
							<a ng-if="isOffline" href="http://maps.google.com/?q={{place.latitude}},{{place.longtitude}}" ng-click="openLink($event)" class="maps-placeholder">
								<img style="width: 100%" ng-attr-src="img/map/roadmap/1280x1200/{{place.id}}_map.png" />
							</a>
						</div>
					</ion-content>
				</ion-view>
			</ion-tab>
			<ion-tab title="Subsets" icon="ion-network" ng-if="getSubPlaces().length">
				<ion-view>
					<ion-content class="has-header" dir="rtl">
						<ion-list>
							<ion-item href="#/app/place/{{pl.id}}" ng-repeat="pl in getSubPlaces()">
								{{pl.name_persian}}
							</ion-item>
						</ion-list>
					</ion-content>
				</ion-view>
			</ion-tab>
			<ion-tab title="Nearby Places" icon="ion-location" ng-if="place.nearbyPlaces">
				<ion-view>
					<ion-content class="has-header" dir="rtl">
						<label class="item item-input item-select">
							<div class="input-label" >External Place Type</div>
							<select ng-model="external_place_type_input">
								<option ng-repeat="placeType in allExtraPlaceTypes" value="{{placeType}}" >{{translatePlaceType(placeType)}}</option>
							</select>
						</label>
						<ion-list>
							<ion-item href="#/app/external-place/{{epl.id}}" ng-repeat="epl in place.nearbyPlaces | extraPlaceType:external_place_type_input">
								{{epl.name}}
								<a style="float: left;padding-left: 3px;padding-right: 3px;" href="tel:{{epl.international_phone_number}}"><i ng-if="epl.formatted_phone_number" class="button button-small icon ion-android-call"></i>
								</a>
								<a style="float: left;padding-left: 3px;padding-right: 3px;" ng-click="openLink($event);" href="{{epl.website}}" ng-if="epl.website"><i  class="button button-small icon ion-social-chrome"></i>
								</a>
							</ion-item>
						</ion-list>
					</ion-content>
				</ion-view>
			</ion-tab>
		</ion-tabs>
		

	<!-- </ion-content> -->
</ion-view>