<ion-view view-title="Courses">
	<script type="text/javascript">
		function testOnChange(data){
			console.log(data);
		}
	</script>
	<ion-content dir="rtl">
		<div dir="ltr">
			{{timeFilterModel}}
			<ionslider grid="true" min="0" max="750" step="15" type="double" from="timeFilterModel.from" to="timeFilterModel.to"></ionslider>
		</div>
		<ion-list>
			<ion-item href="#/app/course/{{$index}}" ng-repeat="course in courses| inRange:timeFilterModel">
				{{course.name}}
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>